#login { padding: 40px; border-color: #000080; border-width: 5px; border-style: solid; background-color: #6495ED; text-align: center; font-size: 30px; margin-top: 300px; margin-left: 550px; top: 100px; width: 800px; }

#Benutzername { font-family: Arial; color: #000080; }

#body { background-color: #8DEEEE; }

#Eingabe { font-size: 30px; }

#button { font-size: 30px; }

#Startbanner { padding: 40px; border-color: #000080; border-width: 5px; border-style: solid; background-color: #6495ED; text-align: center; font-size: 30px; }